.cards{
  display: flex;
  flex-wrap: wrap;
}

.card{
  padding: 30px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  margin: 30px;
  width: 700px;

}

.card h3 {
  font-size: 20px;
}

.card p{
  text-align: justify;
  margin: 5px;
  font-size: 16px;
}

.card img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #274545;
}

.card-content{
  padding-left:30px;
}
